.container {
    width: 50%;
    margin: 0 auto;
}

.searchInput {
    width: 100%;
    padding: 19px 0px 19px 30px;
    font-size: 22px;
    line-height: 26.4px;
}

.jokesCount {
    margin-top: 20px;
    padding-left: 30px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 780px) {
    .container {
        width: 98%;
    }
}